@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: "Bungee", sans-serif;
    background: #33A1E0;
}
html{
    scroll-behavior: smooth;
}
.header{
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    display: grid;
    grid-template: "logo nav" 1fr
    /1fr 4fr;
    font-size: 1.25rem;
    position: fixed;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.header .logo a{
    text-decoration: none;
    color: black;
} 
nav div{
    grid-area: logo;
}
.header nav{   
    grid-area: nav;
    display: flex;
    justify-content: right;
}
.header nav div{
    margin-right: 2.5rem;
}
.header nav div a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in;
}
.header nav div a:hover{
    color: #e8dd06;
}
.info{
    display: grid;
    grid-template:"profile info" 1fr / 1fr 1fr;
    height: 100vh;
}
.info .profile{
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5rem;
}
.info .secsion{
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: left;
}
.container h1{
    font-size: 4.5rem;
    margin-top: -1.75rem;
    font-weight: bolder;
    font-family: "Poppins";
}
.text h2{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Poppins";
    border-top: solid;
    margin-bottom: -0.15rem;
}
.text h2.color{
    padding-left: 1.5rem;
    border: none 0rem;
}
.contact{
    display: flex;
    width: 13rem;
    justify-content: space-around;
    border-left: solid;
    margin: 2.25rem 0rem 0rem 5.5rem;
}
.contact a img{
    width: 2.75rem;
    border: solid #000 0.15rem;
    padding: 0.1rem;
    border-radius: 50%;
    transition: all 0.15s ease-in;
}
.contact a img:hover{
    box-shadow: #BFC9D1 0.1rem 0.1rem 0.5rem 0.2rem,
    #BFC9D1 -0.1rem -0.1rem 0.5rem 0.2rem;
    transform: scale(1.15,1.15);
}
.text .color{
    color: #e8dd06;
    border-top: none;
    margin-bottom: -1rem;
}
.About{
    background: #FFF7CD;
    height: 100vh;
    display: grid;
    grid-template: "Sec inf" 1fr/1fr 1.5fr;
    border-top: solid;
}
.About_Sec{
    grid-area: Sec;
    background: #FFF7CD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid;
}
.About_Sec h1{
    background: #FFF7CD;
    font-size: 4rem;
}
.About_inf ul{
    list-style: none;
}
.About_inf ul, .About_inf li, .About_inf h1{
    background: #FFF7CD;
}
.About_inf h1{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "Poppins";
    margin: 0rem 0rem 0.4rem -2.5rem;
    background: #FFF7CD;
}
.About_inf{
    grid-area: inf;
    display: grid;
    grid-template:"intro img" 0fr
    "edu edu"0fr/1fr 1fr ;
    flex-direction: column;
    background: #FFF7CD;
    padding-left: 0.5rem;
}
.About ul{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.About_inf li{
    margin: 0.75rem 0rem 0rem 0.5rem;
    font-family: "Poppins";
    font-size: 1.15rem;
    font-weight: 450;
}
.About_inf .My_img{
    grid-area: img;
    background: #FFF7CD;
    margin-top: 5.5rem;
    margin-right: 7rem;
    justify-self: right;
}
.About .My_img img{
    border-radius: 50%;
    border: solid 0.4rem;
}
.edu ul{
    list-style: disc;
}
.About_inf .intro{
    grid-area: intro;
    background: #FFF7CD;
    margin-top: 2.45rem;
}
.About_inf .edu{
    grid-area: edu;
    background: #FFF7CD;
    margin-top: 3.25rem;
}
.Skill{
    height: 100vh;
    display: grid;
    grid-template: "inf sec" 1fr/1.5fr 1fr;
    border-top: solid;
}
.Skill_Sec{
    border-left: solid;
    grid-area: sec;
    background: #FFF7CD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Skill_Sec h1{
    background: #FFF7CD;
    font-size: 4rem;
}
.Skill_inf{
    grid-area: inf;
    display: flex;
    flex-direction: column;
    background: #FFF7CD;
    padding-left: 0.5rem;
}
.Skill_inf h1{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "Poppins";
    margin: 0rem 0rem 0.4rem -2.5rem;
    background: #FFF7CD;
}
.Skill_inf ul{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.Skill_inf ul,li{
    background-color: #FFF7CD;
}
.Skill_inf li{
    margin: 0.75rem 0rem 0rem 0.5rem;
    font-family: "Poppins";
    font-size: 1.15rem;
    font-weight: 450;
}
.codding{
    background: #FFF7CD;
    margin-top: 2.45rem;
}
.Language{
    background: #FFF7CD;
    margin-top: 0.45rem;
}