@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: "Bungee", sans-serif;
    background: #33A1E0;
}
.header{
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    display: grid;
    grid-template: "logo nav" 1fr
    /1fr 4fr;
    font-size: 1.25rem;
}
nav div{
    grid-area: logo;
}
.header nav{   
    grid-area: nav;
    display: flex;
    justify-content: right;
}
.header nav div{
    margin-right: 2.5rem;
}
.header nav div a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in;
}
.header nav div a:hover{
    color: #e8dd06;
}
.info{
    display: grid;
    grid-template:"profile info" 1fr / 1fr 1fr;
    height: 100vh-2.5rem;
}
.info .profile{
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5rem;
}
.info .secsion{
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: left;
}
h1{
    font-size: 4.5rem;
    margin-top: -1.75rem;
    font-weight: bolder;
    font-family: "Poppins";
}
h2{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Poppins";
    border-top: solid;
    margin-bottom: -0.15rem;
}
h2.color{
    padding-left: 1.5rem;
}
.contact{
    display: flex;
    width: 13rem;
    justify-content: space-around;
    border-left: solid;
    margin: 2.25rem 0rem 0rem 5.5rem;
}
a img{
    width: 2.75rem;
    padding: 0rem;
    border: solid #000 0.15rem;
    padding: 0.1rem;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
a img:hover{
    box-shadow: #BFC9D1 0.1rem 0.1rem 0.5rem 0.2rem,
    #BFC9D1 -0.1rem -0.1rem 0.5rem 0.2rem;
}
.color{
    color: #e8dd06;
    border-top: none;
    margin-bottom: -1rem;
}